# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
dist/
!dist/python-sdk*
!dist/ayasdi-sdk*
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log
